{% extends "base.html" %}

{% macro breadcrumb(ent) %}
  {% set parent = ent.parent() %}
  {% if parent %}
    {{ breadcrumb(parent) }}
    <span class="sep">&raquo;</span>
  {% endif %}
  {% if not ent.is_root() %}
    <a href="/viewsources/{{ ent.relativePath() }}">
    {% set icon = ent.icon() %}
    {% if icon %}
      <img src="/icons/{{ icon }}" />
    {% endif %}
    {{ ent.name() }}
  </a>
  {% endif %}
  {% if ent.is_root() %}
      <img src="/icons/server.png" />
  {% endif %}

{% endmacro %}

{% block app_content %}

  <div class="row">
    <div class="col-md-12">
      <h5> {{ breadcrumb( directory ) }}</h5>
      <table class="table">
        <tr><th>Name</th><th>Last modified</th><th>size</th></tr>
        {% for item in directory.list() %}
           <tr>
              <td><img src="/icons/{{ item.icon() }}"> <a href="/{{ ref }}/{{ item.relativePath() }}">{{ item.name() }}</a></td>
              <td>{{ item.lastModified() }}</td>
              <td>{{ item.size() }}</td>
           </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}

