{% extends "base.html" %}

{% block app_content %}

  <div class="row">
    <div class="col-md-12">

    <h1>Tests {{ project }}</h1>
    <table class="table">
    <tr><th>Name</th><th width='80%'>Log</th></tr>
    {% set ns = namespace( p = '' ) %}
    {% for test in tests %}
     {% if test.path != ns.p %}
      <tr>
          <td colspan='2'>Folder: {{ test.path }}
            <a href='/viewsources/{{ project }}/{{ test.path }}'><i class='fas fa-arrow-alt-circle-left'></i></a>
            <a href='/viewtests/{{ project }}/{{ test.path }}'><i class='fas fa-arrow-alt-circle-right'></i></a>  
          </td>
      </tr>
      {% endif %}
      <tr>
          <td><a href="/testoutput/{{ project }}/{{ test.path }}/{{ test.name }}">{{ test.name }}</a></td>
          <td>
              <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{ test.name }}" role="button" aria-expanded="false" aria-controls="collapse{{ test.name }}"> show </a>
            <div class="collapse" id="collapse{{ test.name }}">
              {% for line in test.log -%}
                  {{ line }} <br/>
               {%- endfor %}
            </div>
          </td>
      </tr>
      {% set ns.p = test.path %}
    {% endfor %}
    </table>
    </div>
  </div>
{% endblock %}
